
<div class="row">
    <div class="col m12">
        <h5 class="ETfonts">
            Areas
        </h5>
    </div>

</div>

<div id="test3" class="col s12">

        <h6 class="center">
            <img src="img/CloudEveryone_LearningPath.png" alt="learning paths"  usemap="#CloudEveryonemap">

        </h6>
        <a tooltipped data-position="top" data-delay="150" data-tooltip="Click to view the courses">
            <map name="CloudEveryonemap">
                <area  href="javascript:void(null);" shape="rect"  coords="740,28,837,327" alt="Scripting"  ng-click="vm.gotoCourse('CloudEveryone', 'Scripting', 'main.nfvProgram.CloudEveryone')">
                <area  href="javascript:void(null);" shape="rect"  coords="631,25,734,343" alt="OpenStack"  ng-click="vm.gotoCourse('CloudEveryone','OpenStack', 'main.nfvProgram.CloudEveryone')" >
                <area  href="javascript:void(null);" shape="rect"  coords="533,7,628,345" alt="Cloud and DevOps"  ng-click="vm.gotoCourse('CloudEveryone','CloudETandETDevOps', 'main.nfvProgram.CloudEveryone')" >
                <area  href="javascript:void(null);" shape="rect"  coords="430,7,527,358" alt="Linux and Virtualization"   ng-click="vm.gotoCourse('CloudEveryone','LinuxETandETVirtualization', 'main.nfvProgram.CloudEveryone')" >
                <area  href="javascript:void(null);" shape="rect"  coords="320,9,425,374" alt="Introduction to Linux Academy"  ng-click="vm.gotoCourse('CloudEveryone','IntroductionETtoETLinuxETAcademy', 'main.nfvProgram.CloudEveryone')" >

            </map>
        </a>

</div>