
<!--------------------------------------------Training Program Boxes ------------------------------------------------------->
<div class="row ProgramBoxesHeadng">
    <div class="col m12">
        <h5 class="center-align ETfonts">Select the Program</h5>
    </div>
</div>

<div class="row">
    <div class="col  m2 offset-m4">
        <a ui-sref="main.nfvProgram" class="waves-effect waves-light btn-large trainingBtn trainingBtnFont">NFV Training</a>

    </div>

    <div class="col  m2">
        <a class="waves-effect waves-light btn-large trainingBtn trainingBtnFont disabled" tooltipped data-position="top" data-delay="100" data-tooltip="Coming Soon">SDN Training</a>
    </div>
</div>




