

<div class="row NFVContent">

    <div class="col m12  s12">
        <div class="card orangeBg">
            <div class="card-content">

                <h4 class="textShadow">Openstack Training</h4>

                <p class="textShadow">The training plan for three different categories. Please select the training plan based on the seciton you belong to. </p>
                <br>
                <div class="row">
                    <div class="col s12">
                        <ul tabs reload="allTabContentLoaded">
                            <li class="tab col s3"><a class="active" href="#test1">ETech and Automation</a></li>
                            <li class="tab col s3"><a href="#test2">VNF Owners</a></li>
                            <li class="tab col s3"><a href="#test3">Cloud for Everyone & Management</a></li>
                        </ul>
                    </div>

                    <!----------------------------------Tab Content ----------------------------------------------->
                    <div id="test1" class="col s12">
                        <br>
                        <br>
                        <br>

                        <ui-view name="telcoCoursesView">
                            <img src="../img/learningPath_Stairs.png" alt="learning paths" class="responsive-img" style="margin-left:35px;" usemap="#stairsmap">
                            <map name="stairsmap">
                                <area tooltipped shape="rect" coords="633,0,719,278" alt="Sun" data-position="top" data-delay="150" data-tooltip="Click to view the courses" ng-click="vm.gotoCourse('cloudDev')" ui-sref="main.nfvProgram.TelcoCourses" >

                            </map>
                        </ui-view>

                    </div>


                    <div id="test2" class="col s12">
                        <br>
                        <br>
                        <br>

                        <ui-view name="telcoCoursesView">
                            <img src="../img/learningPath_Stairs.png" alt="learning paths" class="responsive-img" style="margin-left:35px;" usemap="#stairsmap">
                            <map name="stairsmap">
                                <area tooltipped shape="rect" coords="633,0,719,278" alt="Sun" data-position="top" data-delay="150" data-tooltip="Click to view the courses" ng-click="vm.gotoCourse('introLinAcad')" >

                            </map>
                        </ui-view>
                    </div>
                    <div id="test3" class="col s12">Test 3</div>
                </div>
            </div>

        </div>

    </div>
</div>
