
<div class="row NFVContent">

    <div class="col m12  s12">
        <h2 class="header noMarginPadd NFVSDNhead ETfonts center animated flipInX">NFV Training</h2>

        <div class="card orangeBg animated lightSpeedIn">
            <div class="card-content">

                <div class="row">
                    <div class="col m12">
                        <h5 class="stepsText ">Please select your section, then the assigned class to your section will be highlighted </h5>
                    </div>
                    <div class="col m12 center">
                        <a class='dropdown-button btn btn-large trainingBtn' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true">
                            Select your Section
                        </a>

                        <!-- Dropdown Structure -->
                        <ul id='demoDropdown' class='dropdown-content'>
                            <li  ng-repeat="value in vm.sections">
                                <a  ng-click="vm.setClassforSection($index)" toast='click' message={{value.details}} duration="5000">{{value.section}}</a>
                            </li>
                        </ul>

                    </div>


                </div>  <!-- end of row --->






                <br>

                <div class="row">
                    <h4 class="ETfonts">
                        Classes
                    </h4>
                    <div class="col s12">
                        <ul tabs reload="allTabContentLoaded">
                            <li class="tab col s3 "><a class="active waves-effect waves-light ETfonts " href="#test1" ng-class="{ highlightTab: vm.currentSelectedSection === 'Telco Cloud and Automation'}">Telco Cloud and Automation</a></li>
                            <li class="tab col s3"><a class="waves-effect waves-light ETfonts "  href="#test2" ng-class="{highlightTab: vm.currentSelectedSection === 'VNF Owners'}" >VNF Owners</a></li>
                            <li class="tab col s3"><a class="waves-effect waves-light ETfonts" href="#test3" ng-class="{highlightTab: vm.currentSelectedSection === 'Cloud for Everyone & Management'}">Cloud for Everyone & Management</a></li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col m12">
                            <h5 class="ETfonts">
                                Areas
                            </h5>
                        </div>

                    </div>


                    <!----------------------------------Tab Content ----------------------------------------------->
                    <div id="test1" class="col s12">

                        <ui-view name="TelcoCourseView">
                            <h6 class="center">
                                <img src="img/learningPath.png" alt="learning paths"   usemap="#telcomap">

                            </h6>
                            <a tooltipped data-position="right" data-delay="150" data-tooltip="Click to view the courses">
                                <map name="telcomap" >
                                    <area  href="javascript:void(null);" shape="rect"  coords="723,10,809,300" alt="Scripting"  ng-click="vm.gotoCourse('TelcoAuto', 'VersionETControlETSystem', 'main.nfvProgram.TelcoAutoCourses')">
                                    <area  href="javascript:void(null);" shape="rect"  coords="634,40,714,318" alt="Version Control System"  ng-click="vm.gotoCourse('TelcoAuto', 'Scripting', 'main.nfvProgram.TelcoAutoCourses')" >
                                    <area  href="javascript:void(null);" shape="rect"  coords="543,40,626,329" alt="OpenStack"  ng-click="vm.gotoCourse('TelcoAuto','OpenStack', 'main.nfvProgram.TelcoAutoCourses')" >
                                    <area   href="javascript:void(null);" shape="rect"  coords="457,20,536,322" alt="Cloud and DevOps"  ng-click="vm.gotoCourse('TelcoAuto','CloudETandETDevOps', 'main.nfvProgram.TelcoAutoCourses')" >
                                    <area   href="javascript:void(null);" shape="rect"  coords="366,19,452,345" alt="Linux and Virtualization"   ng-click="vm.gotoCourse('TelcoAuto','LinuxETandETVirtualization', 'main.nfvProgram.TelcoAutoCourses')" >
                                    <area   href="javascript:void(null);" shape="rect"  coords="273,5,362,360" alt="Introduction to Linux Academy"  ng-click="vm.gotoCourse('TelcoAuto','IntroductionETtoETLinuxETAcademy', 'main.nfvProgram.TelcoAutoCourses')" >

                                </map>
                            </a>

                        </ui-view>

                    </div>

                    <div id="test2" class="col s12">


                        <ui-view name="VNFOwnCoursView">
                            <h6 class="center">
                                <img src="img/learningPath.png" alt="learning paths" style="margin-left:35px;" usemap="#VNFOwnmap">

                            </h6>
                            <a tooltipped data-position="top" data-delay="150" data-tooltip="Click to view the courses">
                                <map name="VNFOwnmap">
                                    <area  href="javascript:void(null);" shape="rect"  coords="723,10,809,300" alt="Scripting"  ng-click="vm.gotoCourse('VNFOwn', 'VersionETControlETSystem', 'main.nfvProgram.VNFOwnCourses')">
                                    <area  href="javascript:void(null);" shape="rect"  coords="634,40,714,318" alt="Version Control System"  ng-click="vm.gotoCourse('VNFOwn', 'Scripting', 'main.nfvProgram.VNFOwnCourses')" >
                                    <area  href="javascript:void(null);" shape="rect"  coords="543,40,626,329" alt="OpenStack"  ng-click="vm.gotoCourse('VNFOwn','OpenStack', 'main.nfvProgram.VNFOwnCourses')" >
                                    <area  href="javascript:void(null);" shape="rect"  coords="457,20,536,322" alt="Cloud and DevOps"  ng-click="vm.gotoCourse('VNFOwn','CloudETandETDevOps', 'main.nfvProgram.VNFOwnCourses')" >
                                    <area  href="javascript:void(null);" shape="rect"  coords="366,19,452,345" alt="Linux and Virtualization"   ng-click="vm.gotoCourse('VNFOwn','LinuxETandETVirtualization', 'main.nfvProgram.VNFOwnCourses')" >
                                    <area  href="javascript:void(null);" shape="rect"  coords="273,5,362,360" alt="Introduction to Linux Academy"  ng-click="vm.gotoCourse('VNFOwn','IntroductionETtoETLinuxETAcademy', 'main.nfvProgram.VNFOwnCourses')" >

                                </map>
                            </a>


                        </ui-view>

                    </div>



                    <div id="test3" class="col s12">

                        <ui-view name="CloudEveryoneView">
                            <h6 class="center">
                                <img src="img/CloudEveryone_LearningPath.png" alt="learning paths"  usemap="#CloudEveryonemap">

                            </h6>
                            <a tooltipped data-position="top" data-delay="150" data-tooltip="Click to view the courses">
                                <map name="CloudEveryonemap">
                                    <area  href="javascript:void(null);" shape="rect"  coords="740,28,837,327" alt="Scripting"  ng-click="vm.gotoCourse('CloudEveryone', 'Scripting', 'main.nfvProgram.CloudEveryone')">
                                    <area  href="javascript:void(null);" shape="rect"  coords="631,25,734,343" alt="OpenStack"  ng-click="vm.gotoCourse('CloudEveryone','OpenStack', 'main.nfvProgram.CloudEveryone')" >
                                    <area  href="javascript:void(null);" shape="rect"  coords="533,7,628,345" alt="Cloud and DevOps"  ng-click="vm.gotoCourse('CloudEveryone','CloudETandETDevOps', 'main.nfvProgram.CloudEveryone')" >
                                    <area  href="javascript:void(null);" shape="rect"  coords="430,7,527,358" alt="Linux and Virtualization"   ng-click="vm.gotoCourse('CloudEveryone','LinuxETandETVirtualization', 'main.nfvProgram.CloudEveryone')" >
                                    <area  href="javascript:void(null);" shape="rect"  coords="320,9,425,374" alt="Introduction to Linux Academy"  ng-click="vm.gotoCourse('CloudEveryone','IntroductionETtoETLinuxETAcademy', 'main.nfvProgram.CloudEveryone')" >

                                </map>
                            </a>


                        </ui-view>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
