<div class="row">
    <div class="col m12">
        <h5 class="ETfonts">
            Areas
        </h5>
    </div>

</div>


<div id="test2" class="col s12">


        <h6 class="center">
            <img src="img/LearningPath.png" alt="learning paths" style="margin-left:35px;" usemap="#VNFOwnmap">

        </h6>
        <a tooltipped data-position="top" data-delay="150" data-tooltip="Click to view the courses">
            <map name="VNFOwnmap">
                <area  href="javascript:void(null);" shape="rect"  coords="723,10,809,300" alt="Scripting"  ng-click="vm.gotoCourse('VNFOwn', 'VersionETControlETSystem', 'main.nfvProgram.VNFOwnCourses')">
                <area  href="javascript:void(null);" shape="rect"  coords="634,40,714,318" alt="Version Control System"  ng-click="vm.gotoCourse('VNFOwn', 'Scripting', 'main.nfvProgram.VNFOwnCourses')" >
                <area  href="javascript:void(null);" shape="rect"  coords="543,40,626,329" alt="OpenStack"  ng-click="vm.gotoCourse('VNFOwn','OpenStack', 'main.nfvProgram.VNFOwnCourses')" >
                <area  href="javascript:void(null);" shape="rect"  coords="457,20,536,322" alt="Cloud and DevOps"  ng-click="vm.gotoCourse('VNFOwn','CloudETandETDevOps', 'main.nfvProgram.VNFOwnCourses')" >
                <area  href="javascript:void(null);" shape="rect"  coords="366,19,452,345" alt="Linux and Virtualization"   ng-click="vm.gotoCourse('VNFOwn','LinuxETandETVirtualization', 'main.nfvProgram.VNFOwnCourses')" >
                <area  href="javascript:void(null);" shape="rect"  coords="273,5,362,360" alt="Introduction to Linux Academy"  ng-click="vm.gotoCourse('VNFOwn','IntroductionETtoETLinuxETAcademy', 'main.nfvProgram.VNFOwnCourses')" >

            </map>
        </a>

</div>
