html{
    overflow: hidden;  /* to remove the glitch from fixed background in IE */
    height: 100%;
    position:relative;
    min-height: 100%;
    margin:0;
    padding:0;
}



/* --Font Converter: https://everythingfonts.com/font-face */
/* --Including different fonts below : https://css-tricks.com/snippets/css/using-font-face/ */
@font-face {
    font-family: "neo-tech";
    src: url('../font/neo-tech.eot'); /* IE9 Compat Modes */
    src: url('../font/neo-tech.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url(../font/neo-tech.TTF) format('truetype');
}

@font-face {   /* for body */
    font-family: "rotis";
    src: url('../font/ROTISS55.TTF'); /* IE9 Compat Modes */
    src: url(../font/ROTISS55.TTF) format('truetype'); /* IE6-IE8 */
}
body{
    font-family: "rotis", Roboto, "Helvetica Neue", sans-serif;
    font-weight:24px;
    overflow: auto;     /* to remove the glitch from fixed background in IE */
    height: 100%;
    margin:0;
    padding:0;
}



.ETfonts{
    font-family: "neo-tech", Roboto, "Helvetica Neue", sans-serif;
    font-weight:24px;
}

.bodyFont{
    font-family: "rotis", sans-serif;
}
.stepsText{
    font-family: "rotis", sans-serif;
    font-weight: 500;
    font-size: 19px;
    color:white;
}

:focus {
    outline: none;
}


.orangeBg{
    background: #FF8000 !important;
    color:white;
}

.marg-left-right{
    margin-left:20px;
    margin-right:20px;
}

.noMarginPadd{
    margin:0 !important;
    padding:0 !important;
}

.noMarginPadd-left{
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.noMarginPadd-right{
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.pointer{
    cursor:pointer;
}

a:hover,a:visited,a:active{    /* to remove the underline from buttons */
    text-decoration: none;
}

.textShadow{
    text-shadow: 4px 4px 8px #000000;
}

.boxShadow{
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

}

/*--------------------------------------------Landing Page------------------------------------------------------------*/


.header{
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.tagline{
    font-size:20px;
}
.sahaabHeading{
    font-family: "neo-tech", sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin-top:15px;
    margin-left:-35px;
    position:absolute;
    color:black;
}


.sahaabArab img{
    margin-left:-25px;
    width:150px;
    margin-top:25px;

}


.roundBtn{
    margin-top:15px;
    margin-right:5px;
    float:right !important;
    background-color: #FFA500 !important;
}


.iconsColor:hover{
    color: #729e1a !important;
}

.homefab{
    background-color: #FFCC00 !important;
}

.contactfab{
    background-color: #719e19 !important;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:35%;
}
/*-----------------------------------------Training Program Boxes ----------------*/


.ProgramBoxesHeadng{
    margin-top:65px;

}

.xoverflow{
    overflow-x : hidden !important;

}


.trainingBtn{
    height: 74px !important;
    line-height: 74px !important;
    padding: 0px 40px !important;
    background-color: #FFA500 !important;
    font-size: 18px !important;

}

.trainingBtn:hover{
    color:#729e1a !important;
}



/*-----------------------------------------------NFV Heading above tabs ------------------------------------------------*/

.NFVSDNhead{
    font-size:28px !important;
    font-weight: bold;
    padding: 10px !important;
    background: #D4D4D4 !important;
    color: #616b1e !important;

}

.greenText{
    color: #BED30B;
}
/*--------------------------------------------------NFV Program (learning Paths and Tabs) -----------------------------------------------*/


#toast-container {
    top: auto !important;
    right: 2% !important;
    bottom: 10%;
    left:65%;
}

.tabs .tab .highlightTab{
    background-color:#7f7e80 !important;
    color:white !important;
    height:45px;
    transition: background-color 1s linear;
}


.NFVContent{
    margin-top:55px;
}

.tabs .tab {
    background-color: #FFA500 !important;
}
.tabs .tab a{
    color: white !important;
}

.tabs .tab a:hover{
    color: #729e1a !important;
    transition: color .75s ease!important;
}

.tabs .tab a{   /* removes underline from the tabs text */
    text-decoration: none !important;
}

.tabs .indicator{   /* tabs underline color */
    background-color: #616b1e !important;
    height:3px !important;

}



/*-------------------------------------Telco and Auto Courses View -----------------------------------------------------*/
.coursesTitle{
    font-size:21px;
}

.sectionHeadbg{
    background: #D4D4D4 !important;
    color: #616b1e !important;
    font-weight:bold;
    font-size:18px;
    transition: background .75s ease!important;

}

.sectionHeadbg:hover{
    background: #7f7e80 !important;
    color: #00FF00 !important;
}

