html{
    overflow: hidden;  /* to remove the glitch from fixed background in IE */
    height: 100%;
}



/* --Font Converter: https://everythingfonts.com/font-face */
/* --Including different fonts below : https://css-tricks.com/snippets/css/using-font-face/ */
@font-face {
    font-family: "neo-tech";
    src: url('../font/neo-tech.eot'); /* IE9 Compat Modes */
    src: url('../font/neo-tech.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url(../font/neo-tech.TTF) format('truetype');
}
body{
    font-family: "neo-tech", Roboto, "Helvetica Neue", sans-serif;
    font-weight:24px;
    overflow: auto;     /* to remove the glitch from fixed background in IE */
    height: 100%;
}



.ETfonts{
    font-family: "neo-tech", Roboto, "Helvetica Neue", sans-serif;
    font-weight:24px;
}

.engHeadFont{
    font-family: "neo-tech", sans-serif;
    font-weight: 900;
    font-size: 25px;
    color:white;
}

:focus {
    outline: none;
}


.greyfont{
    color: #454343;
}

.orangeBg{
    background: #fe7600 !important;
    color:white;
}

.greenText {
    color: #729e1a;
}

.marg-left-right{
    margin-left:20px;
    margin-right:20px;
}

.noMarginPadd{
    margin:0 !important;
    padding:0 !important;
}

.noMarginPadd-left{
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.noMarginPadd-right{
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.pointer{
    cursor:pointer;
}

a:hover,a:visited,a:active{    /* to remove the underline from buttons */
    text-decoration: none;
}

.textShadow{
    text-shadow: 4px 4px 8px #000000;
}

.boxShadow{
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);

}

/*--------------------------------------------Landing Page------------------------------------------------------------*/

.header{
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}
.header img {
    float: left;
    margin-left:20px;
    position:absolute
}

.header h1 {
    position: relative;


}

/*-----------------------------------------Training Program Boxes ----------------*/


.ProgramBoxesHeadng{
    margin-top:150px;

}

.trainingProgBox p{
    color:#729e1a !important;
    font-weight: 800;
    font-size: 20px;
}
.trainingProgBox{
    background-color:white !important;
    transition: background-color .75s ease !important;
}
.trainingProgBox:hover{
    background-color: #FFA500 !important;
    color:white;
    cursor:pointer;
}

/*--------------------------------------------------NFV Program (learning Paths) -----------------------------------------------*/

.NFVContent{
    margin-top:55px;
}

.tabs .tab {
    background-color: #FFA500 !important;
}
.tabs .tab a{
    color: white !important;
}

.tabs .tab a:hover{
    color: #729e1a !important;
}

.tabs .tab a{   /* removes underline from the tabs text */
    text-decoration: none !important;
}

.tabs .indicator{   /* tabs underline color */
    background-color: #729e1a !important;
}

.course:hover{
    background-color: black !important;
}

/*-------------------------------------Telco and Auto Courses View -----------------------------------------------------*/
.coursesTitle{
    font-size:21px;
}

.sectionHeadbg{
    background: #D4D4D4 !important;
    color: #729e1a !important;
    font-weight:bold;
}

